Quicksilver.Business/Service References/ProductRegistrationService/ProductRegistrations1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Quicksilver.Services.Entities" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Quicksilver.Services.Entities" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfProdRegItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProdRegItem" nillable="true" type="tns:ProdRegItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProdRegItem" nillable="true" type="tns:ArrayOfProdRegItem" />
  <xs:complexType name="ProdRegItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="ProductName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProductRegistrationId" type="xs:int" />
      <xs:element minOccurs="0" name="RegisteredDate" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProdRegItem" nillable="true" type="tns:ProdRegItem" />
</xs:schema>