Quicksilver.Business/Service References/ProductRegistrationService/ProductRegistrations2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://quicksilver.webservice/ProductRegistrations.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Quicksilver.Services.Entities" />
  <xs:element name="GetAllProductRegistrations">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllProductRegistrationsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Quicksilver.Services.Entities" minOccurs="0" name="GetAllProductRegistrationsResult" nillable="true" type="q1:ArrayOfProdRegItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductRegistration">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductRegistrationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Quicksilver.Services.Entities" minOccurs="0" name="GetProductRegistrationResult" nillable="true" type="q2:ProdRegItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>