Quicksilver.Business/Service References/ProductRegistrationService/ProductRegistrations.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ProductRegistrations" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://quicksilver.webservice/ProductRegistrations.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://quicksilver.webservice/ProductRegistrations.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://quicksilver.webservice/ProductRegistrations.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Quicksilver.Services.Entities" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IProductRegistrationService_GetAllProductRegistrations_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllProductRegistrations" />
  </wsdl:message>
  <wsdl:message name="IProductRegistrationService_GetAllProductRegistrations_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllProductRegistrationsResponse" />
  </wsdl:message>
  <wsdl:message name="IProductRegistrationService_GetProductRegistration_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProductRegistration" />
  </wsdl:message>
  <wsdl:message name="IProductRegistrationService_GetProductRegistration_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProductRegistrationResponse" />
  </wsdl:message>
  <wsdl:portType name="IProductRegistrationService">
    <wsdl:operation name="GetAllProductRegistrations">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductRegistrationService/GetAllProductRegistrations" message="tns:IProductRegistrationService_GetAllProductRegistrations_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductRegistrationService/GetAllProductRegistrationsResponse" message="tns:IProductRegistrationService_GetAllProductRegistrations_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProductRegistration">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductRegistrationService/GetProductRegistration" message="tns:IProductRegistrationService_GetProductRegistration_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductRegistrationService/GetProductRegistrationResponse" message="tns:IProductRegistrationService_GetProductRegistration_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IProductRegistrationService" type="tns:IProductRegistrationService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllProductRegistrations">
      <soap:operation soapAction="http://tempuri.org/IProductRegistrationService/GetAllProductRegistrations" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProductRegistration">
      <soap:operation soapAction="http://tempuri.org/IProductRegistrationService/GetProductRegistration" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ProductRegistrations">
    <wsdl:port name="BasicHttpBinding_IProductRegistrationService" binding="tns:BasicHttpBinding_IProductRegistrationService">
      <soap:address location="http://quicksilver.webservice/ProductRegistrations.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>